* {
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	background-color: transparent;
	border: none;
}
nav {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
section, img, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	object-fit: cover;
}

body {
	font-family: Montserrat;
	font-weight: regular;
	color: #333333;
}

.container {
	width: 100%;
	max-width: 1800px;
	margin: 0 auto;
	padding: 0px 15px;
}

:root {
	--orange: #FF9900;
	--color-hover: #FFB74C;
	--color-focus: #FFB74C;
	--color-active: #E1670E;
}
.wrapper	{
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.main {
	flex: 1 1 auto;
}
/* HEADER */
.header {
	height: 100px;
}
.header__container {
	display: flex;
	align-items: center;
	height: 100%;
}
.header__logo {
	width: 224px;
	margin-right: auto;
}
.menu__list {
	display: flex;
}
.menu-list-burger {
	position: absolute;
	z-index: 100;
	top: 120px;
	left: 0;
	max-width: 420px;
	max-height: 768px;
	padding: 0 106px 217px 50px;
	background-color: white;
	transition: transform .5s ease-in-out;
	transform: translateX(-101%);
}
.burger__item {
	margin-bottom: 60px;
}
.burger__link {
	font-size: 24px;
	font-weight: 700;
}
.is-active {
	transform: none;
}
.menu__item {
	margin-right: 85px;
}
@media (max-width: 1200px) {
	.menu__item {
		margin-right: 60px;
	}
}
.menu__link {
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	transition-property: border-bottom, color, outline;
	transition-duration: .3s;
	transition-timing-function: ease;
}
.menu__link:hover {
	border-bottom: 2px solid var(--color-hover);
}
.menu__link:focus {
	outline: 2px solid var(--color-focus);
}
.menu__link:active {
	color: #E1670E;
	border-bottom: 2px solid var(--color-active);
}
.menu__search {
	display: block;
	height: 24px;
	width: 24px;
	transition-property: outline;
	transition-duration: .3s;
	transition-timing-function: ease;
}
.menu__search:focus {
	outline: 2px solid var(--color-focus);
}
.search__icon > *{
	transition-property: stroke, fill;
	transition-duration: .3s;
	transition-timing-function: ease;
}		
.menu__search:hover .search__icon path{
	stroke: var(--color-hover);
}
.menu__search:hover .search__icon rect{
	fill: var(--color-hover);
}
.menu__search:active .search__icon path{
	stroke: var(--color-active);
}
.menu__search:active .search__icon rect{
	fill: var(--color-active);
}

/* HERO */
.section-hero {
	margin-bottom: 100px;
	color: #fff;
}
.swiper {
	max-width: 1770px;
}
.swiper-wrapper {
	
}
.swiper-slide {
	background-size: cover;
	padding: 100px 80px;
}
.swiper-slide__1 {
	background: url("/img/hero-bg.jpg") center center no-repeat;
}
.swiper-slide__2 {
	background: url("/img/hero-bg-2.jpg") left center no-repeat;
}
.swiper-slide__3 {
	background: url("/img/hero-bg-3.jpg") right center no-repeat;
}
.section-hero__content {
	max-width: 837px;
}
.section-hero__title {
	display: block;
	font-size: 70px;
	line-height: 1.21;
	font-weight: 800;
	margin-bottom: 24px;
}
.section-hero__description {
	display: block;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.21;
	margin-bottom: 90px;
}
.btn {
	display: inline-block;
	min-width: 175px;
	background-color: var(--orange);
	color: #fff;
	text-align: center;
	padding: 20px 37px;
	font-weight: 700;
	transition-property: background-color, border, color;
	transition-duration: .3s;
	transition-timing-function: ease;
}
.btn_section-hero {
	font-size: 23.4581px;
	line-height: 29px;
	padding: 25px 37px;
}

/* About US */
.section-aboutUs {	
	margin-bottom: 100px;
}
.section-aboutUs__text {
	max-width: 1235px;
	margin-bottom: 50px;
}
.section-title {
	font-size: 48px;
	font-weight: 400;
	line-height: 1.22;
	margin-bottom: 20px;
}
.section-aboutUs__description {
	font-size: 16px;
	line-height: 2;
}


.section-aboutUs__content {
	display: flex;
}
.aboutUs-content {
}
.aboutUs-content__left {
	background: url("/img/worker.jpg") center no-repeat;
	background-size: cover;
	margin-right: 32px;
	flex-basis: calc(50% - 16px);
	position: relative;
}
.content-left__text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 50px;
	background-color: rgba(0, 0, 0, .5);
}

.content-left-description {
	max-width: 454px;
	margin-right: 40px;
	font-size: 16px;
	line-height: 2;
	font-weight: 700;
	color: #fff;
}
.btn_aboutUs {
	background-color: transparent;
	border: 3px solid var(--orange);
}
@media (max-width:1200px) {
	.content-left__text {
		padding: 30px;
	}
	.content-left-description {
		margin-right: 20px;
	}
}
.aboutUs-content__right {
	flex-basis: calc(50% - 16px);
}
.content-right__item {
	display: flex;
	align-items: center;
	border: 1px solid #CACACA;
	padding: 65px 15px 65px 60px;
}

.content-right__item__box {
	display: flex;
	align-items: center;
}
.content-right__item_top {
	margin-bottom: 32px;
}
.content-right-item__img {
	max-width: 190px;
	max-height: 165px;
	margin-right: 50px;
}
.content-right-item__text {

}
.content-right__item__title {
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	align-items: 1.2;
	color: #000000;
	margin-bottom: 8px;
}
@media (max-width: 1200px) {
	.content-right__item {
		padding: 20px;
	}
	.content-right__item__title {
		font-size: 18px;
	}
	.content-right-item__img {
		flex-basis: 33%;
		margin-right: 30px;
	}
}
.content-right__item__text {
	display: inline-block;
	color: #333333;
	line-height: 2;
}

/* Work */
.section-work {
	margin-bottom: 100px;
}
.section-work__title {
	margin-bottom: 42px;
}
.section-work__list {
	margin-bottom: 45px;
}
.section-work__list_link {
	font-size: 18px;
	font-weight: 400;
}
.section-work__content {
	display: flex;
}
.tab-content {
	display: none;
	margin-top: 30px;
}
.tab-content-active {
	display: block;
}

.section-work__content__left {
	margin-right: 142px;
}
.work-left {
}

.work-left__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 2;
}
.work-left__text {
	margin-bottom: 50px;
	line-height: 2;
}
.work-left__btn_1 {
	margin-right: 32px;
}
.work-left__btn_2 {
	padding: 20px 38px;
	font-size: 16px;
	font-weight: 400;
	color: #333333;
	background-color: transparent;
	border: 1px solid #333333;
}
.section-work__content__right {
	flex: 1 0 50%;
	max-width: 870px;
}
.work-right {
}
.work-right__img {
	flex: 1 1 50%;
}

/* FAQ */
.section-faq {
	margin-bottom: 100px;
}
.section-faq__title {
	margin-bottom: 37px;
}
.section-faq__onclick {
}
.ui-helper-reset {
	line-height: 2;
}
.ui-widget-content {
	border: none;
}
.ui-accordion .ui-accordion-content {
	padding: 0;
}
.ui-accordion .ui-accordion-header {
	margin-top: 0;
}
.onclick {
	height: 111px;
	padding: 20px 0 !important;
	display: flex !important;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	border-left: none;
	border-right: none;
}
.onclick:nth-child(even) {
	border-top: 1px solid #CACACA;
	border-bottom: 1px solid #CACACA;
}
.onclick__title {
	font-size: 24px;
	line-height: 1.5;
	font-weight: 700;
	margin-right: 30px;
}
.ui-state-active {
	color: inherit;
}
.ui-widget {
	font-family: inherit;
}
.onclick__icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	transition-property: transform;
	transition-duration: .5s;
	transition-timing-function: ease;
}
.onclick__content {
}
.onclick__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 2;
	color: inherit;
}
.onclick__text_first {
	margin-bottom: 20px;
}

.onclick__icon ellipse {
	transition-property: fill;
	transition-duration: .5s;
	transition-timing-function: ease;
}
.onclick__icon_active {
	opacity: 0;
}
.onclick:hover .onclick__icon ellipse {
	fill: var(--color-hover);
}
.onclick:hover .onclick__icon path {
	fill: #fff;
}
.onclick:hover {
	color: var(--color-hover);
	border-top: 1px solid var(--color-hover);
	border-bottom: 1px solid var(--color-hover);
}
.onclick:focus {
	color: var(--color-focus);
	border-top: 1px solid var(--color-focus);
	border-bottom: 1px solid var(--color-focus);
}
.onclick:focus .onclick__icon ellipse {
	fill: var(--color-hover);
}
.onclick:focus .onclick__icon path {
	fill: #fff;
}
.onclick:active .onclick__icon {
	transform: rotate(45deg);
}
/* Footer */
.footer {
	background-color: #222222;
}
.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* height: 594px; */
	padding: 50px 0;
}
.footer-nav {
	width: 252px;
	margin-right: 50px;
}
.footer-logo {
	height: 72px;
	width: 224px;
}
.logo-link {
	display: block;
	margin-bottom: 20px;
}
.footer-nav__list {
	display: flex;
	flex-direction: column;
	margin-bottom: 85px;
}
.footer-nav__item {
}
.footer-nav-link {
	color: #CACACA;
	font-size: 18px;
	font-weight: 600;
	line-height: 2;
	transition-property: color, outline;
	transition-duration: .3s;
	transition-timing-function: ease;
}
.footer-nav-link:hover {
	color: var(--color-hover);
}
.footer-nav-link:focus {
	outline: 2px solid var(--color-focus);
}
.footer-nav-link:active {
	outline: none;
	color: var(--color-active);
}
.footer__social-icons {
	display: flex;
}
.social-icons {
}
.social-icons__link {
	transition-property: outline, background-image;
	transition-duration: .3s;
	transition-timing-function: ease;
}
.social-icons__link .social-icons-icon path {
	transition-property: fill;
	transition-duration: .3s;
	transition-timing-function: ease;
}
.social-icons__link:hover .social-icons-icon path  {
	fill: var(--color-hover);
}
.social-icons__link:focus {
	outline: 2px solid var(--color-focus);
}
.social-icons__link:active  {
	outline: none;
	border: none;
}
.social-icons__link:active .social-icons-icon path  {
	fill: var(--color-active);
}
.social-icons-icon {
	display: block;
	width: 60px;
	height: 60px;
}
.social-icons__link {
	margin-right: 25px;
}
.footer-form {
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}
.form__title {
	color: #CACACA;
	margin-bottom: 25px;
}
@media (max-width: 1160px) {
	.form__title {
		font-size: 35px;
	}
}
.input {
	max-width: 560px;
	color: #fff;
	padding: 14px 24px;
	font-size: 16px;
	line-height: 2;
	background-color: #414141;
	transition-property: color, background-color;
	transition-duration: .3s;
	transition-timing-function: ease;
}
.input:hover {
	background-color: #666666;
	outline: none;
}
.input:focus {
	outline: none;
	background-color: #666666;
}
.input:active {
	background-color: #666666;
	color: #fff;
	outline: none;
}
.input:not(:last-child) {
	margin-bottom: 25px;
}
.input:last-child {
	margin-bottom: 32px;
}
.footer-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form-btn {
	cursor: pointer;
	margin-right: 22px;
}
.checkbox {
	margin-right: 10px;
}
.label {
	color: #CACACA;
}
.footer-text {
	max-width: 363px;
	color: #CACACA;
	line-height: 2;
}



.btn-color:hover {
	background-color: var(--color-hover);
}
.btn-color:focus {
	background-color: var(--color-hover);
}
.btn-color:active {
	background-color: var(--color-active);
}
.btn-mono:hover {
	color: #fff;
	background-color: #666666;
}
.btn-mono:focus {
	color: #fff;
	background-color: #666666;
}
.btn-mono:active {
	color: #fff;
	background-color: #000;
}
.burger {
	display: none;
	cursor: pointer;
}
.burger-is-active {
	display: block;
}
.line-burger-active .burger__line:nth-of-type(1){
	transform: rotate(45deg) translateY(8px) translateX(3px);
}
.line-burger-active .burger__line:nth-of-type(2) {
	transform: scale(0);
}
.line-burger-active .burger__line:nth-of-type(3){
	transform: rotate(-45deg) translateY(-10px) translateX(6px);
}
.burger__line {
	width: 36px;
	height: 5px;
	background-color: #000;
	margin: 5px 0;
	transition: transform .5s ease;
}
@media (max-width: 1024px) {
	.container {
		max-width: 954px;
	}
	.header__container {
		justify-content: space-between;
	}
	.header__menu {
		order: 1;
		display: none;
	}
	.burger {
		display: block;
	}
	.header__logo {
		order: 2;
		margin: 0;
		width: 150px;
		height: 48px;
	}
	.menu__search {
		order: 3;
	}
	.section-hero {
		margin-bottom: 80px;
	}
	.swiper-slide {
		padding: 160px 77px;
	}
	.section-hero__title {
		font-size: 60px;
		margin-bottom: 16px;
	}
	.section-hero__description {
		font-size: 20px;
		margin-bottom: 60px;
	}
	.section-aboutUs {
		margin-bottom: 80px;
	}
	.section-aboutUs__content {
		display: block;
	}
	.aboutUs-content__left {
		height: 640px;
		width: 100%;
		margin-bottom: 32px;
	}
	.section-work {
		margin-bottom: 80px;
	}
	.section-work__title {
		margin-bottom: 50px;
	}
	.section-work__content__left {
		flex: 1 1 50%;
		margin-right: 50px;
	}
	.work-right__img {
		width: 437px;
		height: 689px;
	}
	.onclick__title {
		font-size: 20px;
	}
	.footer-form {
		margin-right: 0;
	}
	.footer-nav {
		margin-right: 133px;
	}
	.footer-text {
		display: none;
	}
	.input {
		max-width: 541px;
	}
	.section-faq {
		margin-bottom: 80px;
	}
}
@media (max-width: 880px) {
	.work-left__btn_1 {
		width: 100%;
		margin-bottom: 15px;
	}
	.work-left__btn_2 {
		width: 100%;
	}
	.work-left__text {
		margin-bottom: 25px;
	}
}
@media (max-width: 768px) {
	.container {
		max-width: 698px;
	}
	.swiper-slide {
		padding: 160px 50px;
	}
	.section-hero__title {
		font-size: 50px;
	}
	.section-hero__description {
		font-size: 18px;
		margin-bottom: 60px;
	}
	.content-left__text {
		padding: 34px 40px;
	}
	.content-left-description {
		margin-right: 47px;
	}
	.content-right__item {
		padding: 35px 40px;
	}
	.section-work__list {
		display: flex;
		justify-content: space-between;
	}
	.menu__item:last-child {
		margin-right: 0px;
	}
	.section-work__content {
		flex-direction: column;
	}
	.work-right {
		order: 1;
	}
	.work-left {
		order: 2;
	}
	.section-work__content__left {
		margin-right: 0;
	}
	.work-left__text {
		margin-bottom: 25px;
	}
	.section-work__content__right {
		flex: 1 1 auto;
		margin-bottom: 38px;
	}
	.work-right__img {
		width: 668px;
		height: 284px;
	}
	.footer-content {
		max-height: 792px;
		flex-direction: column;
		align-items: flex-start;
	}
	.footer-nav__list {
		display: none;
	}
	.footer-form {
		order: 1;
	}
	.footer-nav {
		order: 2;
	}
	.footer-buttons {
		justify-content: flex-start;
		margin-bottom: 50px;
	}
	.checkbox {
		margin-right: 5px;
	}
}
@media (max-width: 570px) {
	.section-hero {
		margin-bottom: 40px;
	}
	.content-right__item {
		padding: 15px;
	}
	.section-aboutUs {
		margin-bottom: 40px;
	}
	.content-left__text {
		display: flex;
		flex-direction: column;
		padding: 20px;
	}
	.content-left-description {
		margin-right: 0;
		text-align: center;
		margin-bottom: 20px;
	}
	.btn_aboutUs {
		width: 100%;
	}
	.content-right__item__box {
		display: flex;
		flex-direction: column;
	}
	.content-right-item__img {
		max-width: 120px;
		margin-bottom: 20px;
		align-self: flex-start;
	}
	.section-work {
		margin-bottom: 50px;
	}
	.footer-nav {
		margin-right: 0;
	}
}
@media (max-width: 500px) {
	.section-title {
		font-size: 35px;
	}
	.swiper-slide {
		padding: 90px 40px;
	}
	.section-work__title {
		margin-bottom: 25px;
	}
	.section-faq {
		margin-bottom: 50px;
	}
	.onclick__title {
		font-weight: 400;
		font-size: 18px;
	}
}
@media (max-width: 410px) {
.section-work__item:not(:last-child) {
		margin-right: 25px;
	}
}
@media (max-width: 410px) {
	.section-hero__title {
		font-size: 30px;
	}
}
@media (max-width: 320px) {
	.container {
		max-width: 320px;
	}
	.header {
		height: 60px;
	}
	.header__logo {
		width: 110px;
		height: 35px;
	}
	.section-hero__container {
		padding: 60px 21px;
		background-size: cover;
	}
	.section-hero__content {
		text-align: center;
	}
	.section-hero__title {
		font-size: 20px;
	}
	.section-hero__description {
		font-size: 12px;
		margin-bottom: 32px;
	}
	.btn {
		font-size: 12px;
		padding: 12px 27px;
	}
	.section-hero {
		margin-bottom: 50px;
	}
	.section-title {
		font-size: 24px;
	}
	.section-aboutUs__description {
		font-size: 14px;
		width: 100%;
		margin-right: 0;
	}
	.section-aboutUs__text {
		margin-bottom: 8px;
	}
	.aboutUs-content__left {
		margin-right: 0;
		height: 200px;
	}
	.content-left__text {
		display: block;
		padding: 0;
		position: static;
		background-color: transparent;
		transform: translateY(210px);
	}
	.aboutUs-content__right {
		padding-top: 200px;
	}
	.content-left-description {
		font-size: 14px;
		font-weight: 400;
		margin-right: 0;
		position: relative;
		color: #333333;
	}
	.btn_aboutUs {
		color: #333333;
	}
	.content-right__item__title {
		font-size: 18px;
		font-weight: 500;
	}
	.content-right__item__text {
		font-size: 14px;
	}
	.content-right__item {
		display: block;
		border: none;
		padding: 0;
	}
	.section-aboutUs {
		margin-bottom: 60px;
	}
	.section-work {
		margin-bottom: 60px;
	}
	.section-work__list_link {
		font-size: 14px;
	}
	.section-work__title {
		margin-bottom: 16px;
	}
	.section-work__list_link {
		min-height: 50px;
	}
	.section-work__item:not(:last-child) {
		margin-right: 20px;
	}
	.section-work__list {
		margin-bottom: 16px;
	}
	.section-work__content__right {
		height: 160px;
		margin-bottom: 16px;
	}
	.work-left__title {
		font-size: 18px;
		font-weight: 500;
	}
	.work-left__text {
		font-size: 14px;
	}
	.work-left__btn_1 {
		margin-right: 10px;
		min-width: 162px;
	}
	.section-work__content__left {
		margin-right: 0;
		flex: 1 1 100%;
		margin-top: 110px;
	}
	.onclick {
		height: 105px;
	}
	.onclick__title {
		font-size: 14px;
		font-weight: 500;
	}
	.onclick__icon {
		width: 30px;
		height: 30px;
	}
	.onclick__text {
		font-size: 14px;
	}
	.section-faq__title {
		margin-bottom: 16px;
	}
	.section-faq {
		margin-bottom: 60px;
	}
	.input {
		width: 290px;
		font-size: 14px;
	}
	.footer-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 32px 0px;
	}
	.footer-nav {
		order: 2;
	}
	.footer-buttons {
		flex-direction: column;
	}
	.form__title {
		text-align: center;
	}
	.logo-link {
		display: flex;
		justify-content: center;
	}
	.footer-logo {
		max-width: 150px;
		object-fit: contain;
	}
	.form-btn {
		display: block;
		margin-bottom: 10px;
		margin-right: 0;
	}
	.checkbox {
		margin-left: 5px;
		margin-bottom: 5px;
	}
	.label {
		margin-right: 5px;
	}
	.footer-buttons {
		margin-bottom: 15px;
	}
}